/DataFiles/**
/ModDataFiles/**
/AmazonFiles/**
/Temp/**
!AmazonFiles/.gitkeep
!DataFiles/.gitkeep
!ModDataFiles/.gitkeep
!Temp/.gitkeep
_downloadFiles.out
nohup.out
**/__pycache__/
*.py[cod]
*$py.class
**/site-packages/*
